
frr version 8.5
frr defaults traditional
hostname nxa
log syslog informational
!
interface lo
 ipv6 router openfabric 1
!
interface enp1s0
 ipv6 router openfabric 1
 openfabric csnp-interval 2
 openfabric hello-interval 1
!
interface enp2s0
 ipv6 router openfabric 1
 openfabric csnp-interval 2
 openfabric hello-interval 1
!
router openfabric 1
 net 49.0000.0000.0001.00
!
EOF
